{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<section class="loginpage">
<h3 style="width: 90%; margin-left: 40px;">{% trans "Sign Up" %}</h3>

<p id="signup_text">{% blocktrans %}Already have an account? Then please <a id="signin" href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
<div class="container-fluid" id="booking-div" style="width:70%; float: inherit;">
<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit" id="signup_btn">{% trans "Sign Up" %} &raquo;</button>
</form>
</div>
</section>
{% endblock %}
