@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&family=Roboto&family=Satisfy&display=swap');


body {
    font-family: Libre Caslon Display, sans-serif;
}

/* header */
header {
    background-color: #021002;
    color: #fafafa;
    padding-top: 30px;
    height: 120px;
}

h1, .text-muted, h3 {
    padding-left: 15px;
}

.text-muted:hover {
    font-size: medium;
}

/* nav links*/

#menu li {
    list-style-type: none;
    margin-right: 20px; 
    margin-top: 55px;
}

#menu a {
    text-decoration: none;
    color: #fafafa;
    font-size: 120%;
}

#menu a:hover {
    border-bottom: 1px solid #fafafa;
}

.fixed-top {
    position: absolute;
}

/* main image */
#main-image {
    position: relative;
    height: auto;
}

/* booking button*/
#booking-btn {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #484848da;
    color: white;
    font-size: 30px;
    padding: 12px 24px;
    
    cursor: pointer;
    border-radius: 5px;
}

#booking-btn:hover {
    background-color: black;
  }


/* our passion section */

#our-passion {
    background-color: #100700fd;
    width: 100%;
}
h2 {
    color: #484848da;
    padding-top: 80px;
    padding-bottom: 40px;
    float: inline-start;
    font-size: 40px;
    font-family: Satisfy, sans-serif;
    border-bottom: #282828 1px solid;
    width: 80%;
}

#food-image-one, #food-image-two {
    height: 35rem;
    width: 37rem;
    margin-top: 30px;
    padding-bottom: 15%;
}

.our-text {
    color: #f5d5bd;
    font-size: large;
}

/* interval */

section#interval {
    height: 500px;
    width: 100%;
    overflow: scroll;
    color: white;
    background-color: rgba(0, 0, 0, 0.777);
    position: relative;
}


p.int-text {
   font-size: 30px;
   font-style: oblique;
   color: rgb(114, 42, 0);
   text-align: center;
   position: absolute;
   top: 50%;
   left: 50%;
   z-index: 1;
   font-weight: bold;
}

/* reviews */

section#reviews {
    height: 950px;
    background-color: #100700fd;
}

div.col-sm {
    color: antiquewhite;
    vertical-align:middle;
    font-size: large;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20%;
    border-right: #282828 1px solid;;
    transition: font-size 0.5s ease;
}

div#lastdiv.col-sm {
    border-right: none;
}

div.col-sm:hover {
    color: white;
    font-size: larger;
}

#review-btn {
    position: absolute;
    margin-top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #220b0b;
    color: rgb(117, 117, 117);
    font-size: 20px;
    padding: 10px 22px;
    border-color: #191f19;
    cursor: pointer;
    border-radius: 5px;
}

#review-btn:hover {
    color: white;
}


/* location */

section#location {
    height: 1000px;
    background-color: #0c0f0cfa;
}

h3 {
    color: white;
    text-align: left;
    padding-top: 200px;
    font-size: 250%;
    border-bottom: #cdcdcd32 1px solid;
    padding-bottom: 20px;

}

ul#times{
    font-size: 150%;
    list-style-type: none;
    color: white;
    padding-bottom: 20px;
    font-style: italic;
    float: left;
}

ul#times > li {
    padding-bottom: 20px;
}

ul#address{
    font-size: 150%;
    list-style-type: none;
    color: white;
    padding-bottom: 20px;
    float: right;
}

div#map {
    min-height: 360px;
    padding-top: 50px;
}


.menu-headings {
    color: #021002;
    padding-top: 20px;
    text-align: center;
    font-size: 200%;
}

div#menu-page {
    background-color: #a7a7a7;
}

/* gallery */

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  
  .grid>img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
  }
  
  .grid>img:hover {
    transform: scale(1.1);
  }

/* booking section */

section#booking {
    height:1500px;
    background-color: #121912;
}

#booking>h3 {
    padding-top: 200px;
    text-align: center;
}

#res-disclaimer {
    font-size: 140%;
    color: rgb(133, 96, 88);
    font-style: italic;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

/* Style the form */
#booking-form {
    background-color: #3c4739;
    border: 1px solid #ccc;
    padding: 1rem;
    max-width: 500px;
    margin: 0 auto;
    float: inline-end;
  }

  div#booking-div.container-fluid {
    padding-top: 100px;
    padding-bottom: 200px;
    float: right;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
    color: white;
    font-style: italic;
  }
  
  input {
    display: block;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }
  
  button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  button[type="submit"]:hover {
    background-color: #444;
  }
  

/* footer */

footer {
    background-color: #0b0f0b;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
    padding-top: 70px;
    padding-bottom: 70px;
    position: absolute;
}

p.inline-block {
    padding-bottom: 25px;
    padding-left: 15px;
    transition: font-size 0.5s ease;
}


p.inline-block:hover {
    font-size: large;

}

.form-control {
    background-color: #191f19;
    border-top: #191f19;
    border-left: #191f19;
    border-right: #191f19;
    border-radius: 0%;
    width: 80%;
}

#disclaimer {
    font-size: small;
}

#submit-btn {
    border: #fafafa solid 0.5px;
    border-radius: 2px;
    color: #fafafa;
    background-color: #191f19;
    font-family: Libre Caslon Display, sans-serif;
    letter-spacing: 1px;
    width: 80px;
}

h5 {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: #fafafa3b 1px solid;
    width: 100%;
    padding-left: 20px;
}

