{% extends "base.html" %}
{% load static %}
{% block content %}
    <!--login portal-->
    <section id="loginpage">
        <h3 style="width: 90%; margin-left: 40px;">Access Your Account</h3>
        <div class="container-fluid" id="booking-div">
            <form action="/account.php" method="POST" id="account-form">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="User Name*" required >
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Password*" required>
                <div class="button-container">
                    <button type="submit">Login</button>
                  </div>
            </form>
        </div>
    </section>
    {% endblock %}
</body>

</html>