{% extends "base.html" %}
{% load static %}
{% block content %}
    <!--menu page-->
    <section id="menu-background">
        <div id="menu-page">
            <h2 class="container" style="text-align: center; padding-top: 80px;">Our Menu</h2>
            <div id="starters" class="container">
                <h2 style="border-bottom: none; color: black;">Starter Menu</h2>
                <ul style="list-style-type: none;">
                    <li style="text-align: center; padding-bottom: 30px;">
                        <h3 class="menu-headings">Chapati and Mishkaki</h3>
                        <p>Freshly baked baguette bread with roasted garlic butter and parsley, served warm.</p>
                    </li>
                    <li style="text-align: center;">
                        <h3 class="menu-headings">Caesar Salad</h3>
                        <p>Crisp romaine lettuce tossed in a creamy Caesar dressing.</p>
                    </li>
                    <li style="text-align: center;">
                        <h3 class="menu-headings">Tomato Soup</h3>
                        <p>Creamy tomato soup served with a side of toasted bread.</p>
                    </li>
                    <li style="text-align: center;">
                        <h3 class="menu-headings">Bruschetta</h3>
                        <p>Grilled bread topped with chopped tomatoes, garlic, and basil.</p>
                    </li>
                    <li style="text-align: center;">
                        <h3 class="menu-headings">Shrimp Cocktail</h3>
                        <p>Freshly cooked shrimp served with a cocktail sauce.</p>
                    </li>
                </ul>
            </div>
            <div id="lunch" class="container">
                <h2 style="border-bottom: none; color: black;">Lunch Menu</h2>
                <ul style="list-style-type: none;">
                    <li style="text-align: center; padding-bottom: 30px;">
                        <h3 class="menu-headings">Chapati and Mishkaki</h3>
                        <p>Freshly baked baguette bread with roasted garlic butter and parsley, served warm.</p>
                    </li>
                    <li style="text-align: center;">
                        <h3 class="menu-headings">Caesar Salad</h3>
                        <p>Crisp romaine lettuce tossed in a creamy Caesar dressing.</p>
                    </li>
                    <li style="text-align: center;">
                        <h3 class="menu-headings">Tomato Soup</h3>
                        <p>Creamy tomato soup served with a side of toasted bread.</p>
                    </li>
                    <li style="text-align: center;">
                        <h3 class="menu-headings">Bruschetta</h3>
                        <p>Grilled bread topped with chopped tomatoes, garlic, and basil.</p>
                    </li>
                    <li style="text-align: center;">
                        <h3 class="menu-headings">Shrimp Cocktail</h3>
                        <p>Freshly cooked shrimp served with a cocktail sauce.</p>
                    </li>
                </ul>
            </div>
            <div id="alacarte" class="container">
                <h2 style="border-bottom: none; color: black;">A La Carte</h2>
                <ul style="list-style-type: none;">
                    <li style="text-align: center; padding-bottom: 30px;">
                        <h3 class="menu-headings">Chapati and Mishkaki</h3>
                        <p>Freshly baked baguette bread with roasted garlic butter and parsley, served warm.</p>
                    </li>
                    <li style="text-align: center;">
                        <h3 class="menu-headings">Caesar Salad</h3>
                        <p>Crisp romaine lettuce tossed in a creamy Caesar dressing.</p>
                    </li>
                    <li style="text-align: center;">
                        <h3 class="menu-headings">Tomato Soup</h3>
                        <p>Creamy tomato soup served with a side of toasted bread.</p>
                    </li>
                    <li style="text-align: center;">
                        <h3 class="menu-headings">Bruschetta</h3>
                        <p>Grilled bread topped with chopped tomatoes, garlic, and basil.</p>
                    </li>
                    <li style="text-align: center;">
                        <h3 class="menu-headings">Shrimp Cocktail</h3>
                        <p>Freshly cooked shrimp served with a cocktail sauce.</p>
                    </li>
                </ul>
            </div>
            <div id="desserts" class="container">
                <h2 style="border-bottom: none; color: black;">Dessert Menu</h2>
                <ul style="list-style-type: none;">
                    <li style="text-align: center; padding-bottom: 30px;">
                        <h3 class="menu-headings">Chocolate Fudge Cake</h3>
                        <p>Rich, chocolate cake with layers of fudge and chocolate buttercream.</p>
                    </li>
                    <li style="text-align: center;">
                        <h3 class="menu-headings">Crème Brûlée</h3>
                        <p>Creamy vanilla custard with a caramelized sugar crust.</p>
                    </li>
                    <li style="text-align: center;">
                        <h3 class="menu-headings">Apple Tart</h3>
                        <p>Warm, flaky pastry filled with cinnamon-sugar apples and served with vanilla ice cream.</p>
                    </li>
                    <li style="text-align: center;">
                        <h3 class="menu-headings">Tiramisu</h3>
                        <p>Layers of espresso-soaked ladyfingers and mascarpone cream, dusted with cocoa powder.</p>
                    </li>
                    <li style="text-align: center;">
                        <h3 class="menu-headings">Chocolate Chip Cookie Sundae</h3>
                        <p>Warm, freshly baked chocolate chip cookie topped with vanilla ice cream and chocolate sauce.
                        </p>
                    </li>
                </ul>
            </div>
            <div id="drinks" class="container" style="padding-bottom: 90px;">
                <h2 style="border-bottom: none; color: black;">Drinks Menu</h2>
                <ul style="list-style-type: none;">
                    <li style="text-align: center; padding-bottom: 30px;">
                        <h3 class="menu-headings">Virgin Margarita</h3>
                        <p>A refreshing blend of lime juice, orange juice, and agave syrup, served over ice with a
                            salted rim.</p>
                    </li>
                    <li style="text-align: center;">
                        <h3 class="menu-headings">Strawberry Lemonade</h3>
                        <p>Freshly squeezed lemonade blended with ripe strawberries, served over ice.</p>
                    </li>
                    <li style="text-align: center;">
                        <h3 class="menu-headings">Mint Julep</h3>
                        <p>A classic Southern drink made with muddled mint leaves, sugar, and club soda, served over
                            crushed ice.</p>
                    </li>
                    <li style="text-align: center;">
                        <h3 class="menu-headings">Pineapple Coconut Cooler</h3>
                        <p>A tropical blend of pineapple juice, coconut cream, and lime juice, served over ice.</p>
                    </li>
                    <li style="text-align: center;">
                        <h3 class="menu-headings">Sparkling Cucumber Lemonade</h3>
                        <p>Fresh cucumber juice and lemonade topped with sparkling water, served over ice.</p>
                    </li>
                </ul>
            </div>
        </div>

    </section>
    {% endblock %}
</body>

</html>