{% extends "base.html" %}
{% load static %}
{% block content %}
    <!--booking portal-->
    <section id="booking">
        <h3 style="width: 90%; margin-left: 40px;" >Make A Reservation</h3>
        <div class="container">
            <p id="res-disclaimer">We ask that you approach your wardrobe deliberately and with a sense of occasion. You are welcome if you dress with personality, purpose and originality but please note we favor a glamorous dress code. We do NOT allow beachwear, Logo T-Shirts, any sportswear, loungewear, shorts, flip flops, track suits, sports trainers or caps. Gentlemen are permitted to wear shorts, open toed shoes and sandals during lunch however not after 7.00pm. Kindly know, entry to the restaurant is entirely at the management's discretion. All guests must be over the age of 18 after 9.00pm. We reserve the right to request proof of age if deemed necessary. Bookings are for dining only.</p>
        </div>
        <div class="container-fluid" id="booking-div">
            <form action="/booking.php" method="POST" id="booking-form">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" placeholder="Full Name*"required>
                
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="Email Address*" required>
                
                <label for="phone">Phone:</label>
                <input type="tel" id="phone" name="phone" placeholder="Phone Number*" required>
                
                <label for="checkin">Check-in date:</label>
                <input type="date" id="checkin" name="checkin" required>
                
                <label for="checkout">Check-out date:</label>
                <input type="date" id="checkout" name="checkout" required>
                <label for="time">Time:</label>
                <input type="time" id="time" name="time" required>
                
                <button type="submit">Book Now</button>
              </form>
        </div>
    </section>
    {% endblock %}
</body>

</html>