{% extends "base.html" %}
{% load static %}
{% block content %}
<body style="background-color: #121912">
    <!--photos-->
    <div id="photos" class="container">
        <div class="grid">
            <img src="{% static 'assets/images/galleryimages/pic1.jpg' %}" alt="photo of beach hut next to sea">
            <img src="{% static 'assets/images/galleryimages/pic3.jpg' %}" alt="two desserts on dimly lit restaurant table">
            <img src="{% static 'assets/images/galleryimages/pic2.jpg' %}" alt="sunset with beach hotel in background">
            <img src="{% static 'assets/images/galleryimages/pic4.jpg' %}" alt="avocado and plantain dish on plate">
            <img src="{% static 'assets/images/galleryimages/pic5.jpg' %}" alt="red mocktail drink">
            <img src="{% static 'assets/images/galleryimages/pic6.jpg' %}" alt="orange mocktail drink">
            <img src="{% static 'assets/images/interval.jpg' %}" alt="man in sea on small boat with sunset in background">
            <img src="{% static 'assets/images/galleryimages/pic8.jpg' %}" alt="close up of palm tree leave">
            <img src="{% static 'assets/images/galleryimages/pic7.jpg' %}" alt="huge beach house with palm trees infront">
            <img src="{% static 'assets/images/galleryimages/pic9.jpg' %}" alt="sushi being burnt with blow torch in restaurant">
            <img src="{% static 'assets/images/compressedfoodimg.jpg' %}" alt="chargrilled seafood dish">
            <img src="{% static 'assets/images/compressedfoodimg2.jpg' %}" alt="salmon and grilled vegetables dish">
        </div>
    </div>
    {% endblock %}
</body>

</html>